<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SCNU_OAuth2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring_config/applicationContext-*.xml</param-value>
	</context-param>

	<!-- 配置监听器加载spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 配置过滤器，解决post的乱码问题 -->
	<filter>
		<filter-name>encoding</filter-name>	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置SpringMVC -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring_config/springmvc.xml</param-value>
		</init-param>
		<!-- 配置springmvc什么时候启动，参数必须为整数 -->
		<!-- 如果为0或者大于0，则springMVC随着容器启动而启动 -->
		<!-- 如果小于0，则在第一次请求进来的时候启动 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<!-- log4j文件的配置 （千万要注意的是下面的classes记得加上去，虽然工程目录可能没有，但是实际目录可能是有的）-->
	<servlet>    
    <servlet-name>lo4jInit</servlet-name>    
    <servlet-class>com.fx.init.Lo4jInit</servlet-class>    
    <init-param>    
        <param-name>log4j_init_path</param-name>    
        <param-value>WEB-INF\classes\log4j.properties</param-value>    
   </init-param>      
   <load-on-startup>0</load-on-startup>    
 </servlet> 





	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!-- 所有的请求都进入springMVC -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

  
</web-app>